.inputContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
  }
  
  input {
    width: 60px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
  }
  
  button {
    padding: 8px 16px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  